<section class="row mx-3 mt-3 mb-0">
	<div class="col-12 mx-0 my-0 px-0">
		<div class="row">
			<div class="col-12 col-sm-8 col-md-4 col-lg-12 mx-auto mx-3 my-0">
				<%- partial('_partial/parts/image', { item: page, flag: 'about' }) %>
			</div>
			<div class="col-12 col-sm-8 col-md-8 col-lg-12 mx-auto mx-3 mt-3 mb-0">
				<p class="h5 text-center mx-0 my-0">
				    <%- config.author || "Unnamed" %>
				</p>
			</div>
		</div>
	<div>
</section>
