<section class="row mx-auto mx-3 mt-3 mb-0">
  <% if (site.posts.length){ %>
    <p class="h5"><%= __('archives') %></p>
  <% } %>
</section>
<section class="row mx-3 my-0">
  <% if (site.posts.length){ %>
    <ul>
      <%- list_archives({show_count: theme.show_count, type: theme.archive_type, format: "YYYY年MM月"}) %>
    </ul>
  <% } %>
</section>
