<%
    var url = config.url
    var button = [
        { title: 'home', icon: 'fa fa-home', url: url }
    ]
    var link, name, icon
    var lastindex = 0
    var result = path.slice(path.indexOf(config.url)+1, path.length)

    result.split('/').forEach(function(title, index){
        if (index === 0) {
            if (is_post()) {
                if (config.permalink.match('category')) {
                    link = button[0].url + '/categories/'
                } else if (config.permalink.match('year')) {
                    link = button[0].url + '/archives/'
                }
            } else {
                link = button[0].url + '/'
            }
        }

        if ( __(title) !== null ) {
            if ( title.match(/\d{4}/) ) { name = title }
            else if ( title.match(/\d{1,2}/) ) { name = title }
            else {
                name = __(title)
                if (is_home()) {
                    icon = theme.icon.home
                } else if (is_archive()) {
                    icon = theme.icon.archive
                } else if (is_category()) {
                    icon = theme.icon.category
                } else if (is_tag()) {
                    icon = theme.icon.tag
                } else if (is_post()) {
                    icon = theme.icon.category
                } else if ( is_page() && (title === 'categories')) {
                    icon = theme.icon.category
                } else if ( is_page() && (title === 'tags')) {
                    icon = theme.icon.tag
                } else {
                    icon = ''
                }
            }
        }
        else { name = title }

        button[index + 1] = {url: link + title + '/', icon: icon, title: name}
        link = button[index + 1].url

        if (is_post()) { lastindex = index - 1 }
        else { lastindex = index }
    })
%>

<ul class="mx-0 my-0">
    <li>
        <% for (key = 0; key <= lastindex; key++) { %>
            <a href="<%= button[key].url %>" target="_self">
                <i class="<%= button[key].icon %>"></i>
                <%= button[key].title %>
            </a>
        <% } %>
    </li>
</ul>
