<div class="mx-3 my-0">
    <h2>
        <%- __('article_more') %>            
    </h2>
    <%- popular_posts( {maxCount: 5 , ulClass: 'popular-posts' , PPMixingRate: 0.0 , isDate: false , isImage: true , isExcerpt: false} , item ) %>
</div>