<!-- Footer -->
<div class="container">
    <footer class="text-center mt-5 py-5">
        <%- partial('link/sns') %>
        <p class="h6 text-center mx-0 mt-5 mb-0">
              Contents and Hexo theme, Copyright 2020 - by <%- config.author || "Unnamed" %>
        </p>
    </footer>
</div>
