<!-- pagination -->
<article class="mx-2 my-2 mx-auto">
  <% if(page.prev || page.next) { %>
    <section class="pagination my-2">
      <% if(page.prev) { %>
        <span class="previous mr-5">
          <%- partial('parts/link_prev') %>
        </span>
      <% } %>
      <% if(page.next) { %>
        <span class="next ml-5">
          <%- partial('parts/link_next') %>
        </span>
      <% } %>
    </section>
  <% } %>
</article>
