<!-- pagination -->
<div class="mx-auto mt-0 mb-3">
  <% if(page.prev || page.next) { %>
    <div class="pagination mx-auto my-2">
      <% if(page.prev) { %>
        <span class="previous mr-1">
          <%- partial('/link/prev') %>
        </span>
      <% } %>
      <% if(page.next) { %>
        <span class="next ml-1">
          <%- partial('/link/next') %>
        </span>
      <% } %>
    </div>
  <% } %>
</div>
