<% if(title_jump === true) { %>
  <a class="title" href="<%- config.root %><%- item.path %>">
<% } %>
<p class="mx-3 my-0">
  <%- item.title || "Untitled" %>
</p>
<% if(title_jump === true) { %>
  </a>
<% } %>
